body{
  font-family: sans-serif;
  background: url(https://cdn.pixabay.com/photo/2015/07/19/10/00/still-life-851328__340.jpg) no-repeat fixed;
  background-size: cover;
  margin: 0px;
}

img{
  width: 170px;
}
.logo{
  float: right;
  width: 40%;
  margin: 50px;
  background-color: rgba(150, 180, 156, 0);
  padding-bottom: 0px;

}
header h1{
  font-size: 45px;
  text-align: center;
  text-decoration: underline;
  color: white;

}

header img{
  float: left;
  border-radius: 50%;
  width: 130px;
  margin: 0px 10px 0px 15px;
}

header{
  background-color: rgba(114, 125, 140, 0);
  margin: 5px 5px 0px 5px;
  text-align: justify;

}
header p{
  font-size: 25px;
  color: white;
  text-align: justify;
  margin: 5px 5px 5px 10px;
  padding-right: 10px;
  padding-left: 15px;
}
.goals{
  font-size: 25px;
  color: white;
  background-color: rgba(153, 74, 93, 0.5);
  text-align: center;
  margin: 10px 0px 5px 0px;
}

 img{
  width: 220px;
  border-radius: 10%;
  margin: auto 100px;
  background-color: rgba(100, 90, 130, 0.5);

}
nav{
  color: white;
  font-size: 20px;
  padding: 100px 100px;

}
section{
  padding: 50px 200px;
  font-size: 30px;
  background-color: rgba(70, 90, 114, 0.5);
}

a: hoaver{
  color: red;
}
